.Header{
    background-color: #dda0dd;
    width:100%;
    margin:0px;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    
}
.right>a{
    color:black;
    text-decoration: none;
    padding-right:40px;
    font-size:25px;
    font-weight: 800;
    transition:1s;
    justify-content: center;
    text-decoration: underline transparent 1px ; 
}
.right>a:hover{
    transition:1s;    
    justify-content: center;
    text-decoration: underline 5px ;
    
} 

body{
    margin:0px;
}
.left{
    padding:10px;
    font-size:20px;
}


.scrollPic{

    background-attachment: fixed;;
    z-index:1;
}
.box>a{ 
    background: linear-gradient(132deg, rgba(255,255,255,1) 14%, rgb(255, 255, 255) 78%, rgb(255, 255, 255) 100%);    
    transform: scale(1);
    padding:20px;  
    font-size:20px;
    font-weight:800;    
    transition: 1s;
    display:flex;
    position: absolute; 
    left:40%;
    bottom:30%;
    
}
.parallax{
    background-image:url(../IMG/hero-image.jpg);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}


.box>a:hover{
    background: linear-gradient(132deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 7%, rgba(255,255,255,1) 15%, rgba(229,199,229,1) 46%, rgba(211,160,211,1) 62%, rgba(97,63,117,1) 99%);
    transform: scale(1.1);
    transition: 1s;
}           

.Catagory1{
    background-color: white;    
    position: relative;
    top:100%;
    z-index: 4;
    padding-right:120px;
    padding-left:120px;
    padding-bottom: 40px;
}
p{
    font-size:22px;
    padding:10px;
}
h1{
    font-weight: 800;
    padding: 10px;
}

.Avatar{
    width:300px;
    height:300px;
    object-fit: cover;

}

.Bottom_Pics{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    transition:1s;
    padding:5px;
}

.Bottom_text{
    display: flex;
    flex-direction: column;
    font-size:21px; 
    justify-content: center;
    align-items: center;
    padding-bottom:40px;
}

.Catagory2{
    background-color: #613F75;   
    color:#dda0dd;
    padding-top:20px; 
    z-index: 1;
    position: relative;
    padding-right:120px;
    padding-left:120px;
    gap:10px;
    padding-bottom: 60px;

}
.Bottom_text2{
    display: flex;
    flex-direction: column;
    font-size:21px; 
    justify-content: center;
    align-items: center;
    padding-bottom:5px;
    background-color: white;
    color:black;
}

.Avatar1{
    width:250px;
    height:300px;
    object-fit: cover;
}

.Avatar2{
    width:300px;
    height:300px;
    object-fit: cover;
    border: 5px solid #f3cbf3;

}

.Footer{
    background-color: #dda0dd;
    width:100%;
    margin:0px;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    
}

.right1>a{
    color:black;
    text-decoration: none;
    padding-right:40px;
    font-size:18px;
    font-weight: 800;
    transition:1s;
    justify-content: center;
    align-items: center;
    text-decoration: underline transparent 1px ; 
}

.right1>a:hover{
    transition:1s;    
    justify-content: center;
    text-decoration: underline 5px ;
    
} 