

.top {
    background-color: white;
    margin: 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

.toplinks {
    font-size:20px;
    font-weight: 800;
    
}

.toplinks a {
    padding-right: 20px;
    text-decoration: none;
    color:black;
    margin-right:25px;
    text-align:center;
}

.red{
    color:red;
    font-weight:800;
    font-size: 30px;
}

.green{
    color:rgb(114, 225, 114);
    font-weight:800;
    font-size: 30px;
}

.toplinks a:hover{
    color:red;
}

.logo{
    padding-right:10px;
}