

.top {
    background-color: white;
    
    
} 

.toplinks {
    float:right;
    color: black;
    padding:16px;
    text-decoration: none;
    text-align: top;
}

.toplinks:hover{
    color:red;
}

.logo {
    font-size: 20px;
    padding:26px;
    text-align:center;
}