

.top {
    background-color: white;
    margin: 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0px;
    padding:20px;
} 

.toplinks {
    font-size:20px;
    font-weight: 800;
}

.toplinks a {
    padding-right: 20px;
    text-decoration: none;
    color:black;
    margin-right:25px;
    text-align:center;
    transition: .3s;
    font-size:20px;
}

.red{
    color:red;
    font-weight:800;
    font-size: 30px;
}

.green{
    color:rgb(114, 225, 114);
    font-weight:800;
    font-size: 30px;
}

.toplinks a:hover{
    color:red;
    transition: .3s;
    
}

.logo{
    padding-right:10px;
}



body {
    background-image: url(../H-HTML/swirl_pattern.webp);
    margin:0px;
}

.title{
    font-size:100px;
    font-weight:800;
    
    height:500px;
    
    width:350px;
    padding:10px;


    
}

.L-text{
    font-size:x-large;
    font-weight:normal;

}

.Browse{
    font-weight:800;
    font-size:30px;
    display: flex;
    flex-direction:row;
}

.Browse:hover{
    color: red;
    transition:.3s;
    border:1px;
    border-color:red;
}

.pics_1{
    Display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:1px;
    position: relative;
    
}

.pics_1 img:nth-child(1):hover{
    transform: scale(1.1);
    transition: .3s;
}


.middle{
    width:100%;
    padding-right: 10px;
    padding-left:10px;
    padding-top:75px;
    padding-bottom: 75px;
    display:flex;
    flex-direction: row;
    width:350px;
    height:500px;
    
    
    
    
}


.block{
    position:absolute;  
    left:204px;
    bottom:0px;
    
    text-align: end;

    
}

.block>a:nth-child(1){
    background-color: white;
    color: black;
    font-weight: 800;
    font-size: 32px;
    width:125px;
    
    
}
.block>a:nth-child(1):hover{
    background-color: gray;
    color: black;
    font-weight: 800;
    transition:1s;
    
    
}
.block>a:nth-child(2){
    background-color:rgb(114, 225, 114);
    color: black;
    font-weight: 800;
    font-size:32px;
   
    
}
.block>a:nth-child(1)::after{
    content: "\a";
    white-space:pre;
}
.block>a:nth-child(2):hover{
    background-color:rgb(89, 163, 89);
    color: black;
    font-weight: 800;
    transition:1s;

    
}

