.topNav{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
body{
    margin:0px;
}
a{
    padding:15px;
    text-decoration: none;

}

.openbtn{
    flex-grow:2;
    margin-left: 20px;
    font-size:3em;

}
.openbtn span{
    cursor: pointer;

}

#sidenav{
    height:100%;
    position: fixed;
    left:0px;
    display: flex;
    flex-direction: column;
    background-color:#dce28d ;
    padding-top:60px;
    padding-right: 10px;
    padding-left: 10px;

    color:#9AAD71;
    transition: all .8s;
}
main{
    position: relative;
    left: 150px;
    max-width: calc(100%-150px);
}

@media screen and (max-width:700px) {
    .openbtn{
        visibility:visible;

    }
    #sidenav{
        left:-200px;
    }
    
}