.header{
    display:flex;
    
    background-color: blue;
    align-items: center;
    margin:0px;
    padding:20px;
    color:whitesmoke;
    font-weight: 800;
    font-size: 30px;
    width:fit-content;
    transition:1s;

}

.header:hover{
    color:gainsboro;
    transition:1s;
}
 
body{
    background-color:whitesmoke;
    width:100%;
    height:100%;
    margin:0px;

}


