.header{
    
    
    background-color: blue;
    align-items: center;
    margin:0px;
    padding:30px;
    color:whitesmoke;
    font-weight: 800;
    font-size: 30px;
    width:fit-content;
    transition:1s;

}

.header:hover{
    color:rgb(0, 0, 0);
    transition:1s;
    background-color: rgb(83, 83, 254);
}
 
body{
    background-color:lightblue;
    width:100%;
    height:100%;
    margin:0px;

}


.pictures{
    gap:10px;
}

