div{
    width:100px;
    height:100px;
    background-color:purple;
    margin: 25px;
}


@keyframes colorChange {
    from{background-color: purple;}
    to{background-color: blue;}
    
}

@keyframes MulticolorChange {
   
    0%{background-color: purple;}
    10%{background-color: darkblue;}
    20%{background-color: blue;}
    30%{background-color: green;}
    40%{background-color: greenyellow;}
    50%{background-color: yellow}
    60%{background-color: orange;}
    70%{background-color: orangered;}
    80%{background-color: red}
    90%{background-color: pink;}
    100%{background-color: white;}
    
}

@keyframes Movement {
   
    0%{background-color: purple; left:0px; top:0px;}
    10%{background-color: darkblue; left:10px; top:0px;}
    20%{background-color: blue; left:20px; top:0px;}
    30%{background-color: green; left:20px; top:10px;}
    40%{background-color: greenyellow;  left:20px; top:20px;} 
    50%{background-color: yellow ;left:30px; top:20px;}
    60%{background-color: orange; left:10px; top:20px;}
    70%{background-color: orangered; left:20px; top:20px;}
    80%{background-color: red ;left:10px; top:20px;}
    90%{background-color: pink; left:20px; top:20px;}
    100%{background-color: white; left:30px; top:20px;}
    
}

div:nth-of-type(2):hover{
    animation-play-state:paused;
}
div:nth-of-type(1){
    animation-name: colorChange;
    animation-duration: 5s;;
}

div:nth-of-type(2){
    animation-name: MulticolorChange;
    animation-duration: 7s;;
}
div:nth-of-type(3){
    animation-name: Movement;
    animation-duration: 12s;;
}


div:nth-of-type(5){
    animation-name:Movement;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}